<div class="col-sm-3 col-md-4" id="pending_tasks">
      <div class="card mt-3 mx-3 p-1 d-flex align-items-stretch">
				  <div class="card-body">
				    	<h4 class="card-title text-dark">Pending Tasks</h4></a>
						  <ol>
							<% @pending_tasks.each do |task| %>
								<li><%= task.title %> <br/>
								<%= task.description%><br />
								<%= link_to "(done)", task, method: :delete, data: {confirm: "Yay! You completed a task!"}, remote: true %>
							<%end %>
						  </ol>
				  </div>
			</div>
		</div>