<div class="col-md-6 mx-auto mt-5" id="pending_tasks">
  <div class="card mt-3 mx-3 p-1 d-flex align-items-center">
		<div class="card-body">
			<h1 class="card-title text-dark text-center">Sign in here!</h1></a>
        <br />
        <br />
					<%= form_for(:session, url: sign_in_path) do %>
  					Email: <%= text_field_tag :email %>
  					Password: <%= password_field_tag :password %>
  				<%= submit_tag "Submit" %>
					<% end %>
		</div>
	</div>
</div>




