
 
<div class="text-field">
  <%= form.label :title %> : <br />
  <%= form.text_field :title, placeholder: "write your thing here" %>
</div><br />

<div class="text-field">
  <%= form.label :description %> : <br />
  <%= form.text_field :description, placeholder: "tell me more about your thing" %>
</div><br/ >
