<h1>Edit Task</h1>

<%= form_for @task do |form| %>
<%= render partial: '/tasks/form', object: form %>
<div class="submit-field">
      <%= form.submit %>
</div>
<p><%= link_to "Back to tasks", tasks_path %></p>

<%end %>