

<!-- Header -->
    <header class="masthead" >
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Cheer!</h1>
          <a href="/sign_up" class="btn btn-dark mb-2 sr-icons">Sign Up</a>
          <a href="/sign_in" class="btn btn-dark mb-2 sr-icons">Sign In</a>
        </div>
      </div>
    </header>